
@{
    ViewBag.Title = "Thông tin sinh viên";
}


<p>
    @Html.ActionLink("Giới Thiệu", "GioiThieu_63131268") |
    @Html.ActionLink("Danh Sách", "Index") |
    @Html.ActionLink("Thêm Mới", "Create") |
    @Html.ActionLink("Tìm Kiếm", "TimKiem")
</p>


<h3>Thông Tin Sinh Viên</h3>
<div class="row">
    <div class="col-md-6">
        <p>Mã sinh viên: 63131268</p>
        <p>Họ tên: Nguyễn Ngọc Thành</p>
        <p>Lớp: 63 CNTT5</p>
        <p>Ngày thi: 3/11/2023</p>
    </div>
</div>
